
html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
}

/* ------------------ GLOBAL ELEMENTS */

@font-face {
    font-family: 'RobotoR';
    font-weight: 400;
    src: url('assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoL';
    font-weight: 300;
    src: url('assets/fonts/Roboto-Light.ttf');
}

body {
    background: #fff;
    color: #000;
    font-family: 'RobotoL', sans-serif;
    font-weight: 300;
}

a,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    color:black;
}
a:hover {
    color: #a20d01;
}
button,
input[type="button"] {
    background: #f50;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ca4502;
    cursor: pointer;
}
    button:hover,
    input[type="button"]:hover {
        background: #a20d01;
    }
    button a,
    button a:hover,
    button a:active,
    button a:visited,
    button a:focus {
        color: #fff;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'RobotoR';
}

body > main {
    margin: 155px 0 0 0;
}

body > footer {
    background: #ccc;
    border-top: 3px solid #808080;

}
    body > footer p {
        color: #616161;
        text-align: center;
    }

body > header {
    box-shadow: 0px 4px 1px 2px rgba(0, 0, 0, 0.25);
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    padding:5px 10px 10px 10px;
}
    body > header .main-logo {
        color: #000;
        margin: 0 150px;
        padding: 12.5px 0;
        display: inline;
    }

    body > header .primary-menu{
        display: inline;
        color:#000;
        float: right;
        margin: 0 10px;

    }



/* ------------------ HOTEL LIST */

.container {
    width: auto;
    height: auto;
    margin: 10px 120px 10px 100px;
}

.page-title {
    background: #ff5500;
    border-radius: 4px;
}
    .page-title h2 {
        color: #fff;
        font-weight: 300;
        font-family: 'RobotoL';
    }

aside.hotel-search  p {
    color:#f50;
    text-align: center;
    padding-left:80px;
}

aside.hotel-search {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    box-shadow: inset -1px 1px 5px 6px rgba(0, 0, 0, .11);
    border-radius: 5px;
}
section.hotel-list {
    width: 750px;
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
}

section.hotel-list button{
    float: right;
    padding:7px 7px 7px 7px;
}

section.hotel-list article.hotel {
    padding: 0 0 15px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #f0efef;
}
    section.hotel-list article.hotel:last-child {
        border-bottom: none;
    }


article.hotel p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
}
    article.hotel .media,
    article.hotel .info {
        float: left;
    }
    article.hotel .media {
        width: 15%;
    }
    article.hotel .info {
        width: 80%;
        box-sizing: border-box;
        padding: 0 0 0 25px;
        margin: 0 0 0 5%;
        border-left: 3px solid #f50;
    }
aside form input,
aside form select {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding: 15px 15px;
    background: #efefef;
    text-align: center;
    margin:5px 10px;
    width: 170px;

}


aside form input[type="button"] {
    background: #f50;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ca4502;
    cursor: pointer;
    font-family: 'RobotoL';
    text-transform: uppercase;
    width: 170px;
    padding: 5px 5px;
    margin:5px 90px ;   
}
.types{ 
    display: block;
    float:left; 
    padding: 0 10px 0px 80px;
}


.dates{
    display: block;
    float:left;
    padding: 0 10px 0px 80px;
}

